{% extends "_base.html" %}


{% block content %}
<div class="container">
    <h1>About Us</h1>
    <p>At ReportStolenItem.com, we understand the frustration and distress that comes with losing your personal or valuable possessions. Our mission is to provide a user-friendly, efficient, and secure platform for individuals to report their stolen or missing items. We believe in the power of community and technology to help you regain what's rightfully yours.</p>
    
    <h3>Key Features</h3>
    <ol>
        <li><strong>Easy Reporting</strong>: Reporting your stolen or missing item is now simpler than ever. Our user-friendly interface allows you to quickly submit the details of your lost property, providing essential information.
        </li>
        <li><strong>Secure Data Handling</strong>: Your privacy and security are paramount. We employ robust encryption and data protection measures to safeguard your personal information. We ensure your data is only accessible to the relevant authorities involved in the investigation.</li>
        <li><strong>Notification Alerts</strong>: Receive real-time notifications when someone reports a missing item. This feature enables quicker and more efficient recovery efforts.</li>
    </ol>

    <h3>How It Works</h3>
    <ol>
        <li><strong>Report Your Item</strong>: Create an account, provide essential information about your stolen or missing item, and submit your report.</li>
        <li><strong>Stay Informed</strong>: Receive updates on matching reports and law enforcement progress through notification alerts and messages.</li>
        <li><strong>Recover Your Item</strong>: Work with us and fellow users to track and recover your lost property.</li>
    </ol>

    <h3>Join Us in the Fight Against Theft</h3>
    <p>ReportStolenItem.com is not just a reporting platform; it's a community dedicated to helping you recover what's rightfully yours. Join us today, and together, we can make a difference in the fight against theft.</p>
    <p>Don't let stolen or missing items go unnoticed. Start your journey to recovery with ReportStolenItem.com. Your lost belongings deserve a second chance at being found.</p>
    
</div>
{% endblock content %}
